:root {
  /*  font  */
  --fs-default: 16px;
  --ff-1: "Roboto";

  /*  color  */
  --color-primary: #891818;
  --color-white: #fff;
  --color-dark: #000;

  /*  space  */
  --space: 8px;
}

body {
  font-size: calc(var(--fs-default) * 1.5);
  font-family: var(--ff-1), sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.h1 {
  font-size: calc(var(--fs-default) * 5);
  font-weight: bold;
}
.h2 {
  font-size: calc(var(--fs-default) * 4);
  line-height: 1.325;
}
.fs-1 {
  font-size: calc(var(--fs-default) * 1.5);
}
.fs-small {
  font-size: calc(var(--fs-default) * 1.5);
}
.text-white {
  color: var(--color-white);
}
.lh-3 {
  line-height: 1.5;
}
.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.d-inline-block {
  display: inline-block;
}

.bg-dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.bg-dark a {
  color: var(--color-white);
}

.mt-2 {
  margin-top: calc(var(--space) * 1.5);
}
.mt-3 {
  margin-top: calc(var(--space) * 2);
}
.mt-4 {
  margin-top: calc(var(--space) * 2.5);
}
.mt-5 {
  margin-top: calc(var(--space) * 3);
}
.mt-6 {
  margin-top: calc(var(--space) * 3.5);
}
.mt-7 {
  margin-top: calc(var(--space) * 4);
}
.mt-9 {
  margin-top: calc(var(--space) * 5);
}
.mt-11 {
  margin-top: calc(var(--space) * 6);
}
.mt-13 {
  margin-top: calc(var(--space) * 8);
}

.mx-auto {
  margin: 0 auto;
}

.list-styled li:before {
  content: "";
  display: inline-block;
  background: var(--color-primary);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: calc(var(--space) * 3);
}

.banner {
  height: 958px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.about ul:before {
  content: "";
  width: 384px;
  height: 1px;
  background-color: var(--color-dark);
  margin-top: calc(var(--space) * 3);
  margin-bottom: calc(var(--space) * 3.5);
}

.about {
  padding: calc(var(--space) * 7) 0;
}

.brand {
  padding-top: calc(var(--space) * 7);
  padding-bottom: calc(var(--space) * 20);
}

.otherWorks {
  padding-top: calc(var(--space) * 7);
  padding-bottom: calc(var(--space) * 18);
}

footer {
  padding: calc(var(--space) * 8);
}
